html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.navbar {
    border-width: 0 0 1px 0;
    border-color: cornflowerblue;
    border-style: solid;
    padding: 0;
    flex: none;
}

.navbar-brand {
    padding: 1rem;
    background-color: cornflowerblue;
    color: white;
}

.body {
    flex: auto;
    overflow: auto;
    padding: 1rem 2rem;
    background-color: rgb(182, 201, 235);
}

footer {
    border-top: 0.5rem solid rgb(78, 113, 177);
    padding: 1rem 0;
    background-color: cornflowerblue;
    color: white;
    flex: none;
}

section {
    background-color: white;
    padding: 1rem;
    margin: 1rem;
    -webkit-box-shadow: 10px 10px 10px 2px rgba(133,133,133,1);
    -moz-box-shadow: 10px 10px 10px 2px rgba(133,133,133,1);
    box-shadow: 10px 10px 10px 2px rgba(133,133,133,1);
}

.main-img {
    width: 250px;
    float: left;
    margin: 0 1rem 1rem 0;
}

.viz-img {
    width: calc(100% - 1rem);
    margin: 0.5 rem;
}

.home-main-sec {
    min-height: 300px;
}

section .section-header {
    color: cornflowerblue;
    margin: 0.5rem;
    margin-left: 0;
    border-bottom: 2px solid cornflowerblue;
    padding-bottom: 0.5rem;
}

section p {
    color: dimgray;
}

footer p {   
    margin: 0;
    text-align: center;
}