html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

a.dropdown-item {
    color: cornflowerblue;
}

.navbar {
    border-width: 0 0 1px 0;
    background-color: cornflowerblue;
    border-color: cornflowerblue;
    border-style: solid;
    padding: 0;
    flex: none;
}

.navbar-brand {
    padding: 1rem;
    background-color: cornflowerblue;
    color: white;
}

.body {
    flex: auto;
    overflow: auto;
    padding: 1rem 2rem;
    background-color: rgb(182, 201, 235);
}

footer {
    border-top: 0.5rem solid rgb(78, 113, 177);
    padding: 1rem 0;
    background-color: cornflowerblue;
    color: white;
    flex: none;
}

section {
    background-color: white;
    padding: 1rem;
    margin: 1rem;
}

.main-img {
    width: 250px;
    float: left;
    margin: 0 1rem 1rem 0;
}

.vis-img {
    width: calc(100% - 1rem);
    border: 2px solid white;
    margin: 0.5rem;
}

.vis-img-main {
    max-width: 100%;
    margin: 0.5rem;
}

.vis-img:hover {
    border-color: blueviolet;
}

.vis-img-current {
    border-color: cornflowerblue;
}

.home-main-sec {
    min-height: 300px;
}

.no-pad {
    padding: 0;
}

.sec-h {
    color: cornflowerblue;
    margin: 0.5rem;
    margin-left: 0;
    border-bottom: 2px solid cornflowerblue;
    padding-bottom: 0.5rem;
}

section p {
    color: dimgray;
}

footer p {   
    margin: 0;
    text-align: center;
}

.icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    background-color:white;
    border-radius: 1px;
    margin: 1px 0 3px 0;
}

.btn.navbar-toggle {
    background: cornflowerblue;
}

/* Extrasmall screen */
@media(max-width:575px) {
    .sec-h {
        font-size: 1.2rem;
    }

    .btn.navbar-toggle {
        background-color: white;
    }

    .icon-bar {
        background-color: cornflowerblue;
    }

    .nav-item {
        display: none;
    }

    a.nav-link,a.dropdown-item {
        color: white;
    }

    .dropdown-item:focus {
        color: white;
        background-color: cornflowerblue;
    }
    
    .dropdown-item:hover {
        color: #3F3F3F;
        background-color: cornflowerblue;
    }

    a:hover {
        color: #3F3F3F;
    }
}

/* Small screen */
@media(min-width:576px) {  

    #navbar-collapse {
        display: none;
    }

    .btn.navbar-toggle {
        display: none;
    }

    .navbar {
        background-color: white;
    }

    .sec-h {
        font-size: 1.5rem;
    }
}

/* Large screen */
@media(min-width:992px) {    
    .sec-h {
        font-size: 1.8rem;
    }
}